html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  justify-content: space-between;
}

.header img {
  height: 50px;
  padding-left: 10px;
  display: inline-flex;
}

.header ul li {
  display: inline-flex;
  color:seashell;
  text-decoration: underline;
  justify-content: space-around;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  text-align: center;
  align-items: center;
}

#tea{
  width: 1000px;
}
#tea img {
  width: 300px;
  height: 200px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px
  display: inline-block;
}

footer {
  height: 200px;
}

h4 {
  text-align: left;
  margin-left: 20px;
}
